includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src/
        - muri-link-tracker.php
        - uninstall.php
    bootstrapFiles:
        - vendor/autoload.php
        - muri-link-tracker.php
    scanDirectories:
        - vendor/woocommerce/action-scheduler/
    ignoreErrors:
        - '#Constant (MLTR_PLUGIN_DIR|MLTR_PLUGIN_URL|WP_MEMORY_LIMIT) not found#'
