includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src/
        - smart-link-checker.php
        - uninstall.php
    bootstrapFiles:
        - vendor/autoload.php
        - smart-link-checker.php
    scanDirectories:
        - vendor/woocommerce/action-scheduler/
    ignoreErrors:
        - '#Constant (FLC_PLUGIN_DIR|FLC_PLUGIN_URL|WP_MEMORY_LIMIT) not found#'
